body {
  background-color: black;
}

.page-login {
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius:10px;
  border:2px solid #006AB3;
  transform: translate(-50%, -50%);
  transform: -webkit-translate(-50%, -50%);
  transform: -ms-translate(-50%, -50%);
  max-width: 450px;
  padding: 10px
  
}
.container-login {
	margin: 20px auto 0px auto;
	max-width: 400px;
}

.page-login .logo{
    max-width: 100%
}

.ul-errors-form {
  padding: 0px
}
.ul-errors-form > li {
  list-style: none
}



@media(max-width:320px){
  .page-login {
    width:  85%;
  }
  
}
@media only screen and (min-width : 320px) {
  .page-login {
    width:  85%;
  }
}
/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
    
}
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .btn-option {
      display: inline-block;
      margin-bottom: 8px
    }
}
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .btn-option {
      display: block;
      margin-bottom: 8px
    }
}
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .btn-option {
    display: inline-block;
  margin: 0px
}

}