.page-login {
position: absolute;
  top: 50%;
  left: 50%;
  border:1px solid red;
  transform: translate(-50%, -50%);
  transform: -webkit-translate(-50%, -50%);
  transform: -ms-translate(-50%, -50%);
}
.container-login {
	margin: 20px auto 10px auto;
	max-width: 400px;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {


}

/* Portrait phones and smaller */
@media (max-width: 480px) {

}